/* === Remove input autofocus webkit === */
*:focus {outline: none;}



.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

/* === Form Elements === */
.tellUs {
background-color: #9F2030;
text-align:center;
color: #FBF6E7; 
font-family: "Harriet Test Text", serif;
	font-size: 1.6875em;
	line-height: 1.925925926em;

	font-weight: normal;
}

.addressPage h3{
		margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 1em;

}
.addressPage {
	padding-bottom:100px;
}



.wpcf7 {
	
}

.wpcf7-form {
	background-color: rgba(138, 139, 138, .1);
	border: solid;
	border-width: 1px;
	border-color: rgba(151, 151, 151, .2);
	width:100%;

}
.wpcf7-form ul {
 margin-bottom:10px;
}
.wpcf7-form .fieldTitle{
	float:left;

	
	padding-left:20px;
}
.wpcf7-form p {
 padding:0 20px;

}

.wpcf7 label {
	
	
}

.wpcf7 input[type=text], .wpcf7 input[type=email] {
	


	width:83%;
	border-top:none;
	border-left:none;
	border-right:none; 
	border-bottom: 1px solid #ccc;
	
	padding: 10px;
	font-size: 16px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: rgba(138, 139, 138, 0);
		
		

	margin-left:2%;
}
.wpcf7 textarea {


}






	/* form element visual styles */
	.wpcf7 input, .wpcf7 textarea { 
		
		
	}
	.wpcf7 input:focus, .wpcf7 textarea:focus {
		background: #fff; 
		border-top:none;
	border-left:none;
	border-right:none; 
	border-bottom: 1px solid #ccc;
		box-shadow: 0 0 3px #aaa; 
		
	}

/* === HTML5 validation styles === */	
.wpcf7 input:required, .wpcf7 textarea:required {
	background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
.wpcf7 input:required:valid, .wpcf7 textarea:required:valid {
	background: #fff url(images/valid.png) no-repeat 98% center;
	border-color: #28921f;
}
.wpcf7 input:focus:invalid, .wpcf7 textarea:focus:invalid {
	background: #fff url(images/invalid.png) no-repeat 98% center;
	border-color: #b03535
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.wpcf7 input:focus + .form_hint {display: inline;}
.wpcf7 input:required:valid + .form_hint {background: #28921f;}
.wpcf7 input:required:valid + .form_hint::before {color:#28921f;}
	
/* === Button Style === */
.wpcf7-submit {
	border: 1px solid #9F2030;
	background-color: rgba(138, 139, 138, 0);
	font-size:18px;
	color:#9F2030;
	display: table;
	padding: 7px 20px;
	border-radius: 10px;
	margin: 2.625em auto 0 auto;
	transition: background-color 0.15s ease;
	transition: all .2s ease-in-out;
}

.wpcf7-submit:hover {
	border: 1px solid #9F2030;
	background-color: #9F2030;
	color: #fff;
	font-weight: 700;
	transform: scale(1.05);
	cursor: pointer; 
}
