/* -------------------------------- 

Primary style

-------------------------------- */
.parallax {
position:relative;
top:-15vh;
}

@media only screen and (min-width: 768px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
    display: none;
  }
}
/* I DONT KNOW 
.logoJazz {
	float:right;
    position:relative;
    left:-50%;

}
.logoJazz .container {
	 position:relative;
    left:50%;
}

.logoJazz .container .left {
 
	display: inline;
	margin: 0 ;
	

	
}
.logoJazz .container .middle {
 
	display: inline;
	margin: 0 ;
	

	
}
.logoJazz .container .right {
 
	display: inline;
	margin: 0 ;
	

	
}*/
.scrollfx5 {
	
	padding-top:1%;

	margin: 20px auto 40px auto;
	padding-top:1%;
	

	
}

.nav-icon {
	width: 60px;
	height: 30px;
	display:block;
	margin:20px auto 0 auto;

	padding:10px;
	
}
.nav-icon img {
	
	width: 50px;

	margin:0 auto;
	

}
.scrollfx5 #post1, .scrollfx5 #post2, .scrollfx5 #post3, .scrollfx5 #post4, .scrollfx5 #post5, .scrollfx5 #post6, .scrollfx5 #post7, .scrollfx5 #post8 {
	width:20%;
	height:2px;
	background-color:#9F2030;
	margin: 0 auto;
	-webkit-transition-delay: 6s; /* Safari */
    transition-delay: 6s;
	-webkit-transition: 2s ease; 
	-moz-transition: 2s ease; 
	-o-transition: 2s ease;

	-webkit-transform: scaleX(1);  
	-moz-transform: scaleX(1);    
	-ms-transform: scaleX(1);      
	transform: scaleX(1);

	
	
    /* ADD THIS transform-origin:top right; */
	 
}
.scrollfx5 #post1.outViewPort, .scrollfx5 #post2.outViewPort, .scrollfx5 #post3.outViewPort, .scrollfx5 #post4.outViewPort, .scrollfx5 #post5.outViewPort, .scrollfx5 #post6.outViewPort, .scrollfx5 #post7.outViewPort, .scrollfx5 #post8.outViewPort {
	

	-webkit-transform: scaleX(0);  
	-moz-transform: scaleX(0);    
	-ms-transform: scaleX(0);      
	transform: scaleX(0);

}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 768px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }

}

.cd-section {
  height: 50vh;




}

.cd-section:first-of-type > div,
.cd-section:nth-of-type(2) > div,
.cd-section:nth-of-type(3) > div,
.cd-section:nth-of-type(4) > div,
.cd-section:nth-of-type(5) > div,
.cd-section:nth-of-type(6) > div,
.cd-section:nth-of-type(7) > div,
.cd-section:nth-of-type(8) > div {
background-color:#FBF6E7;
transition: background-color .5s ease;
padding-bottom:2%;
}
.cd-section:first-of-type:hover > div,
.cd-section:nth-of-type(2):hover > div,
.cd-section:nth-of-type(3):hover > div,
.cd-section:nth-of-type(4):hover > div,
.cd-section:nth-of-type(5):hover > div,
.cd-section:nth-of-type(6):hover > div,
.cd-section:nth-of-type(7):hover > div,
.cd-section:nth-of-type(8):hover > div {
/*background-color:#FBF6E7;*/
background-color: #eee9db ;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  display: none;
  position: absolute;
  width: 100%;
  
  top: 20px;
  z-index: 2;

}


@media only screen and (min-width: 768px) {

  
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  
}

@media only screen and (min-width: 768px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}


@media only screen and (min-width: 768px) {
  .cd-vertical-nav {
    display: block;
  }
}
